/*Your Code Here*/

/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/
nav a:hover{
     border: 2px purple dotted;
}
header nav a:focus{
     border: 2px purple dotted;
}

/*Write selector/rule property to position the default position for the skip class element*/
.skip a{
     top: -65px;
     position: absolute;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus{
     top: 25px;
     position: absolute;
}

/*Write selector/rule property to style all elements when in focus*/
:focus{
     border: 5px green dotted;
}

/*Write selector/rule property to style the container */
.container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     gap: 13px;
}

/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */
.container :first-child{
     grid-column: 1/ -1;
     background-image: url('/images/header.jpg');
     place-items: center;
}
/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine selectors*/
.accounts, .onlinebanking, .security, .loans, .contacts {
     grid-column: 2/ span 3;
}
.accounts{
     grid-row-start: 2;
}
.onlinebanking{
     grid-row-start: 3;
}
.security{
     grid-row-start: 4;
}
.loans{
     grid-row-start: 5;
}
.contact{
     grid-row-start: 6;
}
.accounts-image, .onlinebanking-image, .security-image, .loans-image, .contact-image{
     grid-column: 1/-1;
     max-height: 675px;
     
}
.accounts-image{
     grid-row-start: 2;
}
.onlinebanking-image{
     grid-row-start: 3;
}
.security-image{
     grid-row-start: 4;
}
.loans-image{
     grid-row-start: 5;
}
.contact-image{
     grid-row-start: 6;
}

 /* Step 8: Write the selector/rule property to style the .text-block class. */
 .text-block{
     place-items: center;
 }
 .text-block ul{
     align-content: left;
 }


/* Add your media query here */


  /* Step 10: Write the selector/rule property to style the nav element */

 
  /* Step 11: Write the selector/rule property to update the .container class */


  /* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/



 /* Step 16:Write the selector/rule property to update the .text-block class */

