/*Your Code Here*/

/*Write selector/rule property to add your border when
links in the navigation are in the hover or focus state.*/
nav a:hover{
     border: 2px purple dotted;
}
header nav a:focus{
     border: 2px purple dotted;
}

/*Write selector/rule property to position the default position for the skip class element*/
.skip a{
     top: -65px;
     position: absolute;
}

/*Write selector/rule property to position the skip class element when it is in focus*/
.skip a:focus{
     top: 25px;
     position: absolute;
}

/*Write selector/rule property to style all elements when in focus*/
:focus{
     border: 5px green dotted;
}

/*Write selector/rule property to style the container */
.container{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     gap: 13px;
     align-items: center;
}

/*Write selector/rule property to add the background image to the first div in the grid and place it in the grid. */
.container div:first-child {
     grid-column: 1/ -1;
     background-image: url('/images/header.jpg');
     place-items: center;
}
/* Steps 6 and 7: Write the selector/rule properties to  place the next five elements in the next
 five rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine selectors*/
.container img{
     height: 100%;
     width:100%;

}
.accounts, .onlinebanking, .security, .loans, .contact {
     grid-column: 2/ span 3;
}
.accounts{
     /* grid-row-start: 2;
     grid-row-end: 3; */
     grid-row: 2/ span 1; 
}
.onlinebanking{
     grid-row-start: 3;
     grid-row-end: 4;
}
.security{
     grid-row-start: 4;
     grid-row-end:5;
}
.loans{
     grid-row-start: 5;
     grid-row-end: 6;
}
.contact{
     grid-row-start: 6;
     grid-row-end: 7;
}
.accounts-image, .onlinebanking-image, .security-image, .loans-image, .contact-image{
     grid-column: 1/-1;
     max-height: 675px;
     
}
.accounts-image{
     /* grid-row-start: 2;
     grid-row-end: 3; */
     grid-row: 2/ span 1; 
}
.onlinebanking-image{
     grid-row-start: 3;
     grid-row-end: 4;
}
.security-image{
     grid-row-start: 4;
     grid-row-end:5;
}
.loans-image{
     grid-row-start: 5;
     grid-row-end:6;
}
.contact-image{
     grid-row-start: 6;
     grid-row-end:7;
}

 /* Step 8: Write the selector/rule property to style the .text-block class. */
 .text-block{
     text-align: center;
 }
 .text-block ul{
     text-align: left;
 }


/* Add your media query here */
@media (min-width: 825px){

  /* Step 10: Write the selector/rule property to style the nav element */
  nav{
     align-items: right;
     padding-top: 35px;
     padding-bottom: 35px;
     padding-left:0px;
     padding-right:0px;
  }
  /* Step 11: Write the selector/rule property to update the .container class */
  .container{
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  /* Steps 12 - 15: Update the grid-column property of the grid's children (where-needed)*/
   .accounts, .security, .contact{
     grid-column: 4/ span 3;
   }
   .onlinebanking, .loans{
     grid-column: 2/ span 3;
   }
    .accounts-image, .security-image, .contact-image{
     grid-column: 1/ span 5;
    }
    .onlinebanking-image, .loans-image{
     grid-column: 3/ span 5;
    }
 /* Step 16:Write the selector/rule property to update the .text-block class */
    .text-block{
     max-height: 235px;
     overflow: auto;
     text-overflow: ellipsis;
    }
}